html,
body {
    height: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../media/background.jpg');
    background-size:cover;
    background-position:center;

  }

body {

  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding-top: 10%;
  text-align: center;
  color: white;
}

.box {

  height:50%;

  background-color: transparent;
  text-align:center;
  font-weight: 300;
  font-size: 20px;
  line-height: 36px;
  overflow:hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 30px;
}

.box a{
  text-decoration: none;
  color:white;
  align-self: flex-end;
  max-width: 50%;

}
.box a:hover{
  text-decoration: none;
  color:darkgrey;
}

.box-landing{
  width: 330px;
  padding: 20px;
  margin: 0 auto;
}
.box-landing h1{
  text-align: center;
  font-family: 'PT Sans', sans-serif;
  letter-spacing: 0.5px;
  padding-top: 25px;
}

.box-landing p{
  font-size: 14pt;
  text-align: center;
  font-family: 'PT Sans', sans-serif;
  letter-spacing: 0.5px;

}

.size{
  width: 50px;
  height: 50px;
}
.down{
  margin-top: 15%;
}

.purple{
  background-color:#6e5494;
}
